/* f */
.card card--success {
}
.card card--danger {
  background-color: var(--hue-1);
}
.card > div {
  background-color: hsl(var(--hue-1), 30%, 50%);
}
hr.solid {
  border-top: 3px solid;
  color: var(--basehue-3 30%, 20%);
}
