.card card--success {
  background-color: green;
}
.card card--danger {
  /*   background-color: var(--hue-3); */
  background-color: red;
}

.card__header {
  position: relative;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 4rem;
  color: var(--white);
  padding: 1rem;
}
.card__icon--red {
  position: absolute;
  right: 1rem;
  top: 46.5rem;
}
.card__icon--green {
  position: absolute;
  right: 1rem;
  top: 81rem;
}
.card__icon--blue {
  position: absolute;
  right: 1rem;
  top: 115rem;
}
.card {
  display: grid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.card--red {
  grid-area: c-red;
}

.card--green {
  grid-area: c-green;
}

.card--blue {
  grid-area: c-blue;
}
.card__header,
.card__header--red {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--hue-3), 50%, 40%),
    hsl(var(--hue-3), 50%, 70%)
  );
}

/* Card green*/
.card__header--green {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--hue-4), 50%, 40%),
    hsl(var(--hue-4), 50%, 60%)
  );
}
/* Card blue */
.card__header--blue {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--hue-1), 50%, 40%),
    hsl(var(--hue-1), 50%, 70%)
  );
}
.card__body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem;
  opacity: 0.7;
  background-color: var(--white);
  
}
p.card__paragraph {
  opacity: 1;

  margin-bottom: 1rem;
}

/* Card red */

hr.solid--red {
  margin-top: 3rem;
  border-top: 3px solid;
  color: hsl(var(--hue-3), 50%, 40%);
}
hr.solid--green {
  margin-top: 3rem;
  border-top: 3px solid;
  color: hsl(var(--hue-4), 50%, 60%);
}
hr.solid--blue {
  margin-top: 3rem;
  border-top: 3px solid;
  color: hsl(var(--hue-1), 70%, 50%);
}
.card__button {
  padding: 1rem;
  border-radius: 10%;
  margin-left: 80%;
}
.card__button--red {
  background-color: hsl(var(--hue-3), 50%, 50%);
}

.card__button--green {
  background-color: hsl(var(--hue-4), 50%, 40%);
}
.card__button--blue {
  background-color: hsl(var(--hue-1), 50%, 40%);
}

.card__icon {
  border-radius: 50%;
  padding: 0.4rem;
}
.card__icon--red {
  background-color: hsl(var(--hue-3), 50%, 40%);
}
.card__icon--green {
  background-color: hsl(var(--hue-4), 50%, 40%);
}
.card__icon--blue {
  background-color: hsl(var(--hue-1), 50%, 40%);
}
