.container__photo {
  padding-top: 10rem;
  position: relative;
}
.photo {
  padding: 1rem;
  position: relative;
}
.photo--img {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
  margin-left: 2rem;
  margin-bottom: -5rem;
}

/* Ger rutan brevid tjejen färg och padding */
.photo__color--blue {
  background-color: hsl(var(--hue-1), 80%, 30%);
  padding: 2rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Gör citatet ljusblått */
.photo__caption--lightblue {
  background-color: hsl(var(--hue-1), 50%, 75%);
  height: 25rem;
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.photo__caption {
  margin-left: 1rem;
  font-weight: 900;
}
.photo__caption > h2 {
  font-weight: 900;
  font-size: 2.6rem;
  height: 5rem;
}
.photo__caption__author {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 40%;
  margin-top: 13rem;

  /* width: 30rem; */
  /*  top: 20rem; */

  /* left: 60%;
  width: 20rem;
  position: absolute; */
}

/* @media only screen and (min-width: 768px) {
  .photo_content {
    width: 10rem;
  }
  .container__photo {
    width: 30vh;
  }
  .photo {
    width: 30vh;
  }
} */

/* @media screen and (max-height: 1190px) {
} */
@media screen and (min-width: 550px) {
  .photo__caption__author {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .photo_content {
    width: 75%;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .photo {
    padding-bottom: 5rem;
  }
  .photo--img {
    padding-left: 18%;
  }
  .photo__caption__author {
    /*  font-size: 2rem;
    bottom: 10%;
    left: 20%;
    position: absolute;
    width: 60%;
    transform: translate(-10%, -120%); */
  }
}
@media only screen and (min-width: 1200px) {
  .photo__caption__author {
    padding-left: 18rem;
  }
}
