.container__photo {
  padding-top: 10rem;
}
.quote {
  padding: 1rem;
}
.quote--img {
  max-width: 100%;
  height: auto;
  margin-left: 2rem;
  margin-bottom: -5rem;
}

/* Ger rutan brevid tjejen färg och padding */
.quote__color--blue {
  background-color: hsl(var(--hue-1), 80%, 30%);
  padding: 2rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Gör citatet ljusblått */
.quote__caption--lightblue {
  background-color: hsl(var(--hue-1), 50%, 75%);
  height: 25rem;
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quote__caption h2 {
  font-weight: 900;
  font-size: 2.6rem;
  height: 5rem;
  margin-left: 1rem;
}
.quote--author {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 40%;
  margin-top: 13rem;
}

@media screen and (min-width: 550px) {
  .quote--author {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .quote {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
  }

  .quote--img {
    padding-left: 18%;
  }
}
@media only screen and (min-width: 1200px) {
  .quote--author {
    padding-left: 18rem;
  }
}
