.container__glass__card {
  display: grid;
  grid-template-rows: repeat(4, 45rem);
  grid-template-columns: repeat(1, 100%);
  grid-template-areas:
    "glass"
    "red_c"
    "green_c"
    "blue_c";
}
.glass:nth-child(1) {
  grid-area: glass;
}
.card:nth-child(2) {
  grid-area: red_c;
}
.card:nth-child(3) {
  grid-area: green_c;
}
.card:nth-child(4) {
  grid-area: blue_c;
}
@media screen and (min-width: 362px) {
  .container__glass__card {
    grid-template-rows: repeat(4, 40rem);
  }
}
@media screen and (min-width: 448px) {
  .container__glass__card {
    grid-template-rows: repeat(4, 37rem);
  }
}
@media screen and (min-width: 480px) {
  .container__glass__card {
    grid-template-rows: repeat(4, 38rem);
  }

  @media screen and (min-width: 768px) {
    .container__glass__card {
      grid-template-rows: repeat(4, 37rem);
      grid-template-columns: repeat(5, 20%);
      grid-template-areas:
        "glass glass glass glass ."
        ". red_c red_c red_c red_c"
        "green_c green_c green_c green_c ."
        ". blue_c blue_c blue_c blue_c";
    }
  }

  @media screen and (min-width: 1024px) {
    .container__glass__card {
      display: grid;
      grid-gap: 1rem;
      grid-template-rows: repeat(2, 38.2rem);
      grid-template-columns: repeat(2, 50%);
      grid-template-areas:
        "glass red_c"
        "green_c blue_c";
    }
  }
}
